<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RadioButton v-model</title>
</head>
<body>
    <script src="vue.js"></script>

    <div id ="app">
        <p>当店のサービスはいかがでしたか？：{{answer}}</p>
        <label>
            <input type="radio" v-model="answer" value="素晴らしい">素晴らしい
        </label>
        <label>
            <input type="radio" v-model="answer" value="普通">普通
        </label>
        <label>
            <input type="radio" v-model="answer" value="まだまだ">まだまだ
        </label>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                answer: '選択してください'
            }
        });
    </script>
</body>
</html>
